# Global
EUREKA_DEFAULT_ZONE=http://discovery-server:8761/eureka/
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
JWT_SECRET=CHANGE_ME_MIN_32_CHARS

# Auth DB (RDS)
AUTH_DB_HOST=n11-ecommerce-db.example.eu-north-1.rds.amazonaws.com
AUTH_DB_PORT=5432
AUTH_DB_NAME=auth_db
AUTH_DB_USER=postgres
AUTH_DB_PASS=CHANGE_ME

# Product DB
PRODUCT_DB_HOST=n11-ecommerce-db.example.eu-north-1.rds.amazonaws.com
PRODUCT_DB_PORT=5432
PRODUCT_DB_NAME=product_db
PRODUCT_DB_USER=postgres
PRODUCT_DB_PASS=CHANGE_ME

# Cart DB
CART_DB_HOST=n11-ecommerce-db.example.eu-north-1.rds.amazonaws.com
CART_DB_PORT=5432
CART_DB_NAME=cart_db
CART_DB_USER=postgres
CART_DB_PASS=CHANGE_ME

# Order DB
ORDER_DB_HOST=n11-ecommerce-db.example.eu-north-1.rds.amazonaws.com
ORDER_DB_PORT=5432
ORDER_DB_NAME=order_db
ORDER_DB_USER=postgres
ORDER_DB_PASS=CHANGE_ME

# Payment DB
PAYMENT_DB_HOST=n11-ecommerce-db.example.eu-north-1.rds.amazonaws.com
PAYMENT_DB_PORT=5432
PAYMENT_DB_NAME=payment_db
PAYMENT_DB_USER=postgres
PAYMENT_DB_PASS=CHANGE_ME

# Seller DB
SELLER_DB_HOST=n11-ecommerce-db.example.eu-north-1.rds.amazonaws.com
SELLER_DB_PORT=5432
SELLER_DB_NAME=seller_db
SELLER_DB_USER=postgres
SELLER_DB_PASS=CHANGE_ME

# Campaign DB
CAMPAIGN_DB_HOST=n11-ecommerce-db.example.eu-north-1.rds.amazonaws.com
CAMPAIGN_DB_PORT=5432
CAMPAIGN_DB_NAME=campaign_db
CAMPAIGN_DB_USER=postgres
CAMPAIGN_DB_PASS=CHANGE_ME

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
SPRING_CACHE_TYPE=redis

# Mail
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=CHANGE_ME
MAIL_PASSWORD=CHANGE_ME
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS=true
ORDER_MAIL_ENABLED=true

# Iyzico
IYZICO_BASE_URL=https://sandbox-api.iyzipay.com
IYZICO_API_KEY=CHANGE_ME
IYZICO_SECRET_KEY=CHANGE_ME
PAYMENT_IYZIPAY_REQUIRE_REAL=true

# Optional fixed service URLs (defaults are internal docker DNS)
AUTH_SERVICE_URL=http://auth-service:8085
PRODUCT_SERVICE_URL=http://product-service:8081
CART_SERVICE_URL=http://cart-service:8082
ORDER_SERVICE_URL=http://order-service:8083
PAYMENT_SERVICE_URL=http://payment-service:8084
SELLER_SERVICE_URL=http://seller-service:8086
